@{
    ViewData["Title"] = "Edit";
}

<h4>Masina</h4>
<hr />
<form id="formId">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Numar inmatriculare</label>
                <input id="registrationNumberInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">An fabricatie</label>
                <input id="manufacturingYearInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Soferul</label>
                <select id="changeDriverDropdown" class="form-control" ></select>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/car.js"></script>
}
