@{
    ViewData["Title"] = "Edit";
}

<h4>Masina</h4>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Numar inmatriculare</label>
                <input id="registrationNumberInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">An fabricatie</label>
                <input id="manufacturingYearInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Soferul</label>
                <select id="changeDriverDropdown" class="form-control" ></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Ultimul ITP</label>
                <input id="lastITPInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Expira la</label>
                <input id="expirationDateITPInput" class="form-control" readonly="readonly" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Ultimul RCA</label>
                <input id="lastRCAInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Expira la</label>
                <input id="expirationDateRCAInput" class="form-control" readonly="readonly" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Ultimul CASCO</label>
                <input id="lastCascoInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Expira la</label>
                <input id="expirationDateCascoInput" class="form-control" readonly="readonly" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Ultima Rovinieta</label>
                <input id="lastRovinietaInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Expira la</label>
                <input id="expirationDateRovinietaInput" class="form-control" readonly="readonly" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/car.js"></script>
}
