@model AutoFleet.Models.Driver

@{
    ViewData["Title"] = "Sterge";
}

<h1>Sterge</h1>

<h3>Esti sigur(a) ca doresti sa stergi soferul?</h3>
<div>
    <h4>Sofer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-action="Index">Inapoi la lista</a>
    </form>
</div>
